body{
  background-color: #828081;
}

p{
  margin: 0px;
  font-family: Arial;
  color: #e9c893;
}

button:hover{
  box-shadow: 5px 5px 10px black;
}

h4{
  font-family: Arial;
  font-size: 50px;
  font-weight: bolder;
}
.myBodyColor{
  background-color: #3cc47c;
}

.myBodyHeight{
  height: 100px;
}

.ruleCards{
  margin: 10px;
  border: 2px solid black;
  box-shadow: 5px 5px 10px black;
}

.mypowHeight{
  height: 50px;
}

.myHFColorFont{
  background-color: #1E392a;
  font-family: Arial;
  color: #e9c893;
}

.colorFont{
  font-family: Arial;
  color: #e9c893;
}

.LayoutFoot{
  margin-top: 20px;
  padding: 20px;
}

#hareImg{
  height: 75px;
  width: 75px;
  object-fit: scale-down;
}

#tortImg{
  height: 75px;
  width: 75px;
  object-fit: scale-down;
}

#resultsRow{
  height: 300px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding-top: 10px;

}

.rulesImage{
  width: 318px;
  height: 200px;
  object-fit: cover;
}

.rulesList{
  display:  inline-flex;
  list-style: none;
}

.finishlineImg{
  height: 75px;
  width: 75px;
  object-fit: scale-down;
}

.die{
  list-style-type: none;
  padding-top: 10px;
  text-align: center;
  width: 55px;
  height: 55px;
  background-color: white;
  display: inline-block;
  margin: 5px;
  border: 2px solid black;
}

.resultError{
  color: red;
  font-weight: bolder;
  font-size: 25px;
}

.resultRoll{
  color: #e9c893;
  font-weight: bolder;
  font-size: 100px;
}

#results{
  padding-top: 25px;
  text-align: center;
  width: 200px;
  height: 200px;
  background-color: white;
  display: block;
  margin-left: 150px;
  border: 1px solid black;
  box-shadow: 5px 5px 10px black;
}

.arrowImg{
  width: 100px;
  height: 200px;
  object-fit: contain;
}
#logoHeader{
  height: 75px;
  width: 150px;
  object-fit: contain;
}

#logoFooter{
  height: 200px;
  width: 250px;
  object-fit: contain;
}
